:root{
  background-color: #d7dbe6;
  text-align: center;
}


.container{
  border: 3px solid rgb(7, 23, 56);
  width: 40%;
  margin: auto;
}
.main-text{
 color:rgb(19, 19, 85);
 font-size:30px
}

.tbl{
  margin: auto;
 font-size:25px ;
 color:rgb(142, 189, 189);
 text-shadow:2px 1px 1px black;
   border-collapse: collapse;
}
.tbody tr{
   border: solid;
  border-width: 1px 0;
}